h1{
    color:salmon
}
.scream{
    font-size:48px;
    text-align:center;
}
.mayhem{
    background-color:blueviolet
}
.agony{
    background-color:firebrick
}
.torture{
    background-color:aquamarine
}
.futile{
    background-color:yellowgreen;
}
.love{
    background-color:lightcyan
}